.App{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.SideMenuAndPageContent{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.05) ;
}
.SideMenu{
    height: 100%;
}
.SideMenuVertical{
    height: 100%;
}
.PageContent{
    padding-left: 12px;
}