* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
}
.filterContainer {
  margin-top: 2%;
  margin-left: 2px;
  padding: 4px;
  background-color: rgba(136, 137, 137, 0.448);
  flex: 1;
  width: 20px;
  height: 460px;
  border-radius: 6px;
  overflow: hidden;
  
  /* Adjust width as needed */
}
.filterContainer ul {
  list-style-type: none;

}
.filter{
  margin-right:3px;
  margin-bottom: 8px
  /* Adjust width as needed */
}
.filterSearch{
  margin-bottom: 20px;
}
.insideContainer{
  margin: 30px;
}
/* Info container */
.infoContainer {
  flex: 4;
  display: flex; /* Make the container a flexbox */
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  padding: 20px; /* Add some padding around the container */
  justify-content: center;
  background-color: rgb(255, 255, 255);

}
.infoCard {
  background-color: rgb(247, 247, 247);
  margin: 20px;
  width: 280px;
  height: 350px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 0.3s;
}
.infoCard:hover{
  background-color: rgb(244, 247, 247);
  transform: translateY(2px);
}
.cargallery {
  height: 150px;
  overflow: hidden;
}

.cargallery img {
  width: 100%;
  object-fit: cover;
}

.carInfo {
  padding: 10px;
}


.carDetails{
  margin-top: 8%;
}