* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
}
.filterContainer {
  margin-top: 2%;
  margin-left: 6%;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.055);
  flex: .5;
  height: 460px;
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
}
.filterContainer ul {
  list-style-type: none;

}
.filter{
  margin-right:3px;
  margin-bottom: 8px
  
}
.filterSearch{
  margin-bottom: 20px;
  width: 80%;
}
.insideContainer{
  margin: 30px;
}

.infoContainer {
  flex: 2;
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
  background-color: rgb(255, 255, 255);

}
.infoCard {
  background-color: rgb(247, 247, 247);
  margin: 20px;
  width: 280px;
  height: 350px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 0.1s;
}
.infoCard:hover{
  background-color: rgb(244, 247, 247);
  transform: translateY(2px);
}
.cargallery {
  height: 150px;
  overflow: hidden;
}

.cargallery img {
  width: 100%;
  object-fit: cover;
}

.carInfo {
  padding: 10px;
}

.carDetails{
  margin-top: 8%;
}

.group {
  position: relative;
  margin-bottom: 22px;
 }
 
 .input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 80%;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
 }
 
 .input:focus {
  outline: none;
 }
 
 label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
 }
 
 .input:focus ~ label, .input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
 }
 
 .bar {
  position: relative;
  display: block;
  width: 80%; 
}
 
 .bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
 }
 
 .bar:before {
  left: 50%;
 }
 
 .bar:after {
  right: 50%;
 }
 
 .input:focus ~ .bar:before, .input:focus ~ .bar:after {
  width: 50%;
 }
 
 .highlight {
  position: absolute;
  height: 60%;
  width: 80%;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
 }
 
 .input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
 }
 

 
 @keyframes inputHighlighter {
  from {
   background: #5264AE;
  }
 
  to {
   width: 0;
   background: transparent;
  }
 }

 .middleContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  height: 700px;
  background-color: rgb(245, 245, 245);
  z-index: 800;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}

.carImage img {
  width: 600px; 
  height: 250px; 
  object-fit: cover; 
  border-radius: 5px;
}

.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  max-height: 2rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.window-button{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}
.window-button button{
 background-color: rgb(255, 255, 255);
}