.navbar {
  background-color: #ffffff7b;
  padding: 13px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Navigation menu styles */
.nav-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.bruh {
  color: aqua;
}

.nav-item {
  margin-right: 30px;
}

.nav-item a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
  transition: 0.2s ease-in-out;
}

.nav-item a:hover {
  color: #2b719f;
}
.nav-item a:hover {
  color: #2b719f;
}

.nav-item a {
  text-decoration: none;
  color: #161616;
  font-weight: bold;
  position: relative;
}

.nav-item a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  border-radius: 8px;
  background: #ababab;
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: width 0.3s;
}

.nav-item a:hover::after {
  width: 100%;
}
